<section id="faq">
  <div class="container " >
  <h2 class="header-space">{{ 'faq.header' | translate }}</h2>
  <details>
    <summary>{{ 'faq.question1' | translate }}</summary>
    <div class="sub">{{ 'faq.answer1' | translate }}</div>
  </details>
  <details>
    <summary>{{ 'faq.question2' | translate }}</summary>
    <div class="sub">{{ 'faq.answer2' | translate }}</div>
  </details>
  <details>
    <summary>{{ 'faq.question3' | translate }}</summary>
    <div class="sub">{{ 'faq.answer3' | translate }}</div>
  </details>
  <details>
    <summary>{{ 'faq.question4' | translate }}</summary>
    <div class="sub">{{ 'faq.answer4' | translate }}</div>
  </details>
  </div>
</section>
