.contact-section {
  padding: 3rem 0;
}

.contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

@media (max-width: 900px) {
  .contact-wrap {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

/* ---------- Info ---------- */

.contact-info {
  font-size: 1rem;
  color: var(--text);

}

.contact-info p {
  line-height: 15px;
}

.contact-el{
  margin-top:40px;
}
/* ---------- Social Icons ---------- */

.socials {
  margin-top:65px;
  display: flex;
  gap: 1.2rem;
}

.bi {
  width: 28px;
  height: 28px;
  color: var(--brand)
}


/* ---------- Form ---------- */
.form-group{
  padding-bottom: 8px;
}
label {
   display: block;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 600;
   }

textarea {
   border: none;
   width: 100%;
   border-bottom: 1px solid var(--brand);
   height: 40px;
   resize: none;
   max-height: 66%;
   font-size: 1rem;
   }

input {
   border: none;
   width: 100%;
   border-bottom: 1px solid var(--brand);
   height: 40px;
   font-size: 1rem;
   }

input:focus,
textarea:focus {
   outline: none;
   border-bottom: 1px solid var(--brand);
   }

/* ---------- Button ---------- */

button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: var(--brand);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  float:left;
}

button:hover {
  background: #c93c01 ;
}
