<section id="kontakt" class="contact-section">
  <div class="container">
    <h2 class="header-space container">Kontakt & Erstgespräch</h2>

    <div class="contact-wrap ">

      <!-- Form -->
      <div id="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

          <!-- NAME -->
          <div class="form-group">
            <label>{{ 'contact.name' | translate }}</label>
            <input type="text" formControlName="name">

            <small class="error"
                   *ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid">
              {{ 'contact.errors.name' | translate }}
            </small>
          </div>

          <!-- EMAIL -->
          <div class="form-group">
            <label>{{ 'contact.email' | translate }}</label>
            <input type="email" formControlName="email">

            <small class="error"
                   *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.['required']">
              {{ 'contact.errors.emailRequired' | translate }}
            </small>

            <small class="error"
                   *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.['email']">
              {{ 'contact.errors.emailInvalid' | translate }}
            </small>
          </div>

          <!-- MESSAGE -->
          <div class="form-group">
            <label>{{ 'contact.message' | translate }}</label>
            <textarea formControlName="message" rows="4"></textarea>
          </div>

          <button type="submit" [disabled]="isSubmitting">
            {{ isSubmitting ? ('contact.sending' | translate) : ('contact.send' | translate) }}
          </button>

          <p class="error" *ngIf="errorKey">{{ errorKey | translate }}</p>
          <p class="success" *ngIf="successKey">{{ successKey | translate }}</p>

        </form>

      </div>


      <!-- Info -->
      <div class="contact-info">
        <div class="contact-el">
        <p><strong>E-Mail:</strong> info&#64;deine-domain.de</p>
        <p><strong>Ort:</strong> Hamburg · Online (Zoom)</p>
        <p><strong>Dokumente:</strong> Optional Lebenslauf/Zeugnisse beifügen.</p>
          <p style="font-style:italic">Antwort in der Regel innerhalb von 24 Stunden.</p>
        </div>
        <div class="socials" aria-label="Social Links">

          <a href="#"
             aria-label="LinkedIn"
             title="LinkedIn"
             class="text-decoration-none text-dark fs-3">
            <i class="bi bi-linkedin"></i>
          </a>

          <a href="#"
             aria-label="Instagram"
             title="Instagram"
             class="text-decoration-none text-dark fs-3">
            <i class="bi bi-instagram"></i>
          </a>

        </div>
      </div>

    </div>
  </div>
</section>
