.contact-section {
  padding: 3rem 0;
}

.contact-wrap {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: start;
  gap: 100px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #D3D3D3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding:30px;


}

@media (max-width: 600px) {
  .contact-wrap {
    grid-template-columns: 1fr;
    gap: 50px;

  }



}

.contact-info {
  font-size: 1rem;
  color: var(--text);

}


.socials {
  margin-top:80px;
  display: flex;
  gap: 1.2rem;
}

.bi {
  width: 28px;
  height: 28px;
  color: var(--brand)
}

.form-group{
  padding-bottom: 8px;
}

label {
   display: block;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 600;
   }

textarea {
   border: none;
   width: 100%;
   border-bottom: 1px solid var(--brand);
   height: 40px;
   resize: none;
   max-height: 66%;
   font-size: 1rem;
   }

input {
   border: none;
   width: 100%;
   border-bottom: 1px solid var(--brand);
   height: 40px;
   font-size: 1rem;
   }

input:focus,
textarea:focus {
   outline: none;
   border-bottom: 1px solid var(--brand);
   }


button {
  margin-top:50px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: var(--brand);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  float:left;
}

button:hover {
  background: #c93c01 ;
}

.error {
  color: #d93025;
  font-size: 0.85rem;
}

.success {
  color: #0f9d58;
  margin-top: 1rem;
}

@media (max-width: 1240px) {
    .contact-wrap {
      width: 100%;
      }
}

@media (max-width: 900px) {
    .socials{
      margin-top:0px;
     }

}
