<div style="  background:var(--brand-light);">
<section id="stories">
  <div class ="container">


  <div class="stats">
    <div class="stat-card">
      <h3 class="stat-value">30+</h3>
      <div class="stat-label">persönliche Coachings durchgeführt</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">10</h3>
      <div class="stat-label">Anerkennungsverfahren erfolgreich begleitet</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">10+</h3>
      <div class="stat-label">Vermittlungen in Ausbildungen</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">85%</h3>
      <div class="stat-label">mit Jobangebot binnen 6–8 Wochen</div>
    </div>
  </div>
  </div>

</section>
</div>
