.stats {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding: 15px 0px;
}


.stat-card {
  padding: 0px;
  text-align: left;
  box-sizing: border-box;

}


.stat-value {
   margin-bottom: 15px;
   font-size: 2rem;
   color: var(--brand);

}

.stat-label {
  color: black;
  font-weight: 600;
}

.stat-value, .stat-label {
  word-break: break-word;
}

.background{
  background:var(--brand-light);
}




@media (min-width: 300px) and (max-width: 991px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}



