<div class="background">
<section id="stories">
  <div class ="container">


  <div class="stats">
    <div class="stat-card">
      <h3 class="stat-value">{{ 'stories.value1' | translate }}</h3>
      <div class="stat-label">{{ 'stories.label1' | translate }}</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">{{ 'stories.value2' | translate }}</h3>
      <div class="stat-label">{{ 'stories.label2' | translate }}</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">{{ 'stories.value3' | translate }}</h3>
      <div class="stat-label">{{ 'stories.label3' | translate }}</div>
    </div>
    <div class="stat-card">
      <h3 class="stat-value">{{ 'stories.value4' | translate }}</h3>
      <div class="stat-label">{{ 'stories.label4' | translate }}</div>
    </div>
  </div>
  </div>

</section>
</div>
