.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.stat-card {
  padding: 1.2rem;
  text-align: center;
}

.stat-value {
   margin-bottom: 15px;
   font-size: 2rem;
}

.stat-label {
  color: #555;
  font-weight: 600;
}

#stories .stats {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}


@media (min-width: 992px) {
  #stories .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}



