.prozess-inner{
  padding: 0px 20px 0px 20px;
}

.bi-file-earmark-check{
  color: var(--brand);
  font-size: 100px;
}

.bi-circle-fill{
  color: var(--brand);
  font-size: 15px;
  padding-right:4px;
}
.card{
  height:200px;
  width:300px;
  border:none;
}

.card-titel {
 margin-bottom: 15px;
 font-size: 1.25rem;

}

#prozess{
    padding: 30px 0px 0px 0px !important;
}

.timeline {
  padding-bottom:30px;
}
