header {
  position:sticky;
  background:#fff;
  box-shadow:0 0px 1px rgba(0, 0, 0, .05);
  padding: 16px 100px;
  }
nav {
  position:relative
  }


.language-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  padding: 0.5rem 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  z-index: 1000;
}

.language-dropdown .dropdown-menu.show {
  display: block;
}

.language-dropdown .dropdown-item {
  cursor: pointer;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  color: grey;
}
