
<header class="navbar navbar-expand-lg">
  <div class="container">

    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#mainmenu"
            aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#about" (click)="closeMenu()">{{ 'header.about' | translate }} </a></li>
        <li class="nav-item"><a class="nav-link" href="#services" (click)="closeMenu()">{{ 'header.services' | translate }}</a></li>
        <li class="nav-item"><a class="nav-link" href="#prozess" (click)="closeMenu()">{{ 'header.workflow' | translate }}</a></li>
        <li class="nav-item"><a class="nav-link" href="#faq" (click)="closeMenu()">{{ 'header.faq' | translate }}</a></li>
        <li class="nav-item"><a class="nav-link" href="#kontakt" (click)="closeMenu()">{{ 'header.contact' | translate }}</a></li>
      </ul>
    </div>

    <ul class="navbar-nav ms-auto d-flex align-items-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="bi bi-globe"></i> {{ currentLanguage.toUpperCase() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
          <li><button class="dropdown-item" (click)="switchLanguage('de')">DE</button></li>
          <li><button class="dropdown-item" (click)="switchLanguage('uk')">UK</button></li>
          <li><button class="dropdown-item" (click)="switchLanguage('ru')">RU</button></li>
        </ul>
      </li>
    </ul>

  </div>
</header>
