header {
  position:sticky;
  top: 0;
  z-index: 1000;
  background:#fff;
  box-shadow:0 0px 1px rgba(0, 0, 0, .05);
  padding: 16px 0px;

  }

.navbar-nav .dropdown-menu {
    position: absolute;
}
.language-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 35px;
  padding: 0.5rem 0;
  background-color: #fff;

  border-radius: 4px;
  z-index: 1200;
}

.language-dropdown .dropdown-menu.show {
  display: block;
}

.language-dropdown .dropdown-item {
  cursor: pointer;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  color: grey;
}

.bi-globe{
  color:var(--brand);
}

li{
  padding-right:10px;
}


.burger-button:focus{
  box-shadow: none;
}



@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1050;
  }

  .language-dropdown .dropdown-menu {
    z-index: 1200;
  }
}
