<section class="hero">

   <div class="container">
      <div class="row  g-4">

        <div class="col-lg-6  text-lg-start">

          <div class=" hero-photo col-lg-6 d-flex  gap-3 flex-lg-row flex-column  text-lg-start">
            <img src="assets/images/test.png" class="img-fluid" alt="Margarita Tkachenko">
          </div>

          <p class="text-muted mb-1">{{ 'hero.hello' | translate }}</p>
          <h4 class=" mb-1 fw-bold" style>{{ 'hero.name' | translate }}</h4>

        </div>

        <div class="col-lg-6">
          <h4 class="h4 fw-semibold mb-3 hero-header">
            {{ 'hero.title' | translate }}
          </h4>

          <p class=" hero-text mb-4">
            {{ 'hero.description' | translate }}
          </p>

          <div class="badges">
            <span class="badge">{{ 'hero.languages' | translate }}</span>
            <span class="badge">{{ 'hero.location' | translate }}</span>
          </div>
        </div>

      </div>
    </div>
</section>
