<section class="hero">

   <div class="container">
      <div class="row  g-4">

        <div class="col-lg-6  text-lg-start">

          <div class=" hero-photo col-lg-6 d-flex  gap-3 flex-lg-row flex-column  text-lg-start">
            <img src="assets/images/margarita_head_mobile_256.png" class="img-fluid" alt="Margarita Tkachenko">
          </div>

          <p class="text-muted mb-1">Hallo, ich bin</p>
          <h4 class=" mb-1 fw-bold" style>Margarita Tkachenko</h4>

        </div>

        <div class="col-lg-6">
          <h4 class="h4 fw-semibold mb-3" style="color:#FC4C02;">
            Jobcoaching für deinen nächsten Schritt
          </h4>

          <p class=" mb-4" style="line-height: 1.85;">
            Ich begleite dich beim Einstieg in den Arbeitsmarkt in Deutschland, bei Bewerbungen und der Anerkennung von Abschlüssen – kompetent, individuell und praxisnah.
          </p>

          <div class="badges">
            <span class="badge">Deutsch · Ukrainisch · Russisch</span>
            <span class="badge">Hamburg · Online (Zoom)</span>
          </div>
        </div>

      </div>
    </div>
</section>
