<section id="about" class="about-simple">
  <div class="container">
  <h2 class ="header-space">{{ 'header.about' | translate }}</h2>
  <div class="about-simple-inner">
    <p class="lead">
      {{ 'about.lead1' | translate }}
    </p>

    <blockquote class="pull-quote" aria-label="Zitat">
      <p>{{ 'about.quote.text' | translate }}</p>
      <cite>{{ 'about.quote.author' | translate }}</cite>
    </blockquote>

    <p>
      {{ 'about.lead2' | translate }}
    </p>

    <div class="about-highlights">

    <div class="row text-center g-4">

      <div class="col-md-4">
        <div class="mb-3">
          <i class="bi bi-map"></i>
        </div>
        <h5>{{ 'about.highlights.structured.title' | translate }}</h5>
        <p class="text-center mb-0">
          {{ 'about.highlights.structured.text' | translate }}
        </p>
      </div>


      <div class="col-md-4">
        <div class="mb-3">
          <i class="bi bi-lightning"></i>
        </div>
        <h5>{{ 'about.highlights.practical.title' | translate }}</h5>
        <p class="text-center mb-0">
          {{ 'about.highlights.practical.text' | translate }}
        </p>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <i class="bi bi-heart "></i>
        </div>
        <h5>{{ 'about.highlights.fair.title' | translate }}</h5>
        <p class="text-center mb-0">
          {{ 'about.highlights.fair.text' | translate }}
        </p>
      </div>

    </div>
  </div>
  </div>
  </div>
</section>
