footer {
  background: var(--brand-light);
  margin-top: 2.5rem;
}

.footer-inner {

  padding: 1rem 0rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #666;
  font-size: 0.95rem;
}

copyright {
  color: #666;
  font-size: 0.95rem;
  white-space: nowrap;
}
