.services {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top:35px;
  background: var(--brand-light);
}

.service-card {

  padding: 1.5rem;
  border-radius: 14px;
  }

.card-title {
  margin-bottom: 15px;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}

.card-text{
  overflow-wrap: anywhere;
}
