.services {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top:35px;
}

.service-card {
 margin-right: 20px;
 border-radius: 15px;
 padding: 40px;
 background-color: var(--brand-light)

  }

.card-title {
  margin-bottom: 15px;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}

.card-text{
  overflow-wrap: anywhere;
}

.text-mark{
  font-weight:bold;
}
