<section id="services">
  <div class="container">
    <h2 class="header-space">{{ 'services.title' | translate }}</h2>
    <div class="services">

      <div class="row g-3 g-sm-4 g-lg-4">

        <div class="col-12 col-md-12 col-lg-4 ">
          <div class="service-card">
            <h3 class="card-title d-flex align-items-center gap-2">
              <i class="bi bi-file-earmark-text service-icon"></i>
              {{ 'services.application.title' | translate }}
            </h3>
            <p class="card-text">{{ 'services.application.text' | translate }}</p>
            <ul class="service-list">
              <li *ngFor="let item of ('services.application.items' | translate)">
                {{ item }}
              </li>
            </ul>
          <div class="card-footer">
            <span class="text-mark">{{ 'services.format' | translate }}:</span>
            {{ 'services.application.format' | translate }}
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="service-card">
          <h3 class="card-title d-flex align-items-center gap-2">
            <i class="bi bi-person-check service-icon"></i>
            {{ 'services.coaching.title' | translate }}
          </h3>
            <p class="card-text">{{ 'services.coaching.text' | translate }}</p>
            <ul class="service-list">
              <li *ngFor="let item of ('services.coaching.items' | translate)">
                {{ item }}
              </li>
            </ul>
          <div class="card-footer">
            <span class="text-mark">{{ 'services.format' | translate }}:</span>
            {{ 'services.coaching.format' | translate }}</div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="service-card">
          <h3 class="card-title align-items-center d-flex gap-2">
            <i class="bi bi-patch-check service-icon"></i>
            {{ 'services.recognition.title' | translate }}
          </h3>
            <p class="card-text">{{ 'services.recognition.text' | translate }}</p>
            <ul class="service-list">
              <li *ngFor="let item of ('services.recognition.items' | translate)">
                {{ item }}
              </li>
            </ul>
          <div class="card-footer">
            <span class="text-mark">{{ 'services.format' | translate }}:</span>
            {{ 'services.recognition.format' | translate }}
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
